* {
  margin: 0px;
  padding: 0px;
  font-family: work sans;
}
/* bannar section design start  */
.bannar-section {
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
  margin: 0 auto;
}
.bannar-heading {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #151414;
  margin-bottom: 24px;
}
.bannar {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  padding-top: 76px;
}
.bannar-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #444343;
  margin-bottom: 32px;
}
.primary-btn {
  background-color: #f24822;
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
/* my failure design start  */
.my-failures-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 120px;
}
.aouthor-image {
  width: 500px;
}
.my-failure-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 24px;
}
.my-failure-description {
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}
ul {
  list-style-image: url("../images/icons/checklist.png");
}
/* my failure section design end  */

/* my plan , skills section start  */
.my-plan-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.my-plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
  margin-bottom: 50px;
}
.plan-contains {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.plan-icon img {
  width: 65px;
  margin-bottom: 15px;
}
.skill-heading {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #151414;
  margin-bottom: 16px;
}
.plans {
  text-align: center;
}
.plan-description {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #737272;
}

.linear-image-container {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(60deg, rgb(242, 6, 6), transparent),
    url("../images/watch.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 130px;
  margin-bottom: 130px;
}
.wach-bannar-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  padding-top: 59px;
  padding-left: 64px;
}
.call-now-btn {
  background-color: white;
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #fe0808;
  border: none;
  border-radius: 5px;
  margin-top: 24px;
  margin-left: 64px;
}
/* my plan section design end  */
/* my future goal section design start  */
.bg-border {
  background: white;
  width: 78%;
  height: 150px;
  border-left: rgb(251, 39, 39) solid 30px;
  border-bottom: rgb(251, 39, 39) solid 30px;
  margin: 0 auto;
}
.goal-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
  margin-bottom: 250px;
}

.future-contant {
  width: 240px;
  background: rgb(243, 216, 216);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.see-more-btn {
  background-color: white;
  width: 140px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #fe0808;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.future-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: -340px;
  margin-bottom: 100px;
}
.goal-card-title {
  margin-bottom: 7px;
}
.goal-description {
  color: #737272;
}
/* my goal section design end */
/* footer section design start */
.footer-section {
  background: black;
  width: 100%;
  height: 80vh;
}
.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.future-and-social {
  padding-left: 115px;
}
.future-heading {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.future-descripion {
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 24px;
}
.email,
.phn-number {
  color: #ffffff;
}
.phn-number {
  margin-bottom: 32px;
  margin-top: 16px;
}
.social-icon > img {
  margin-right: 10px;
}
.subscribe {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer-right-side {
  padding-right: 115px;
  margin-top: -140px;
}
.email {
  background-color: black;
  color: white;
  padding: 20px 35px;
  border: 1px solid white;
  border-radius: 5px;
  border-bottom: 15px;
}
.subscribe-btn {
  background-color: white;
  width: 140px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #fe0808;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
/* design end */
